language: java

sudo: false

matrix:
  include:
    - os: linux
      jdk: openjdk8
    - os: linux
      jdk: openjdk11

script:
  - ./gradlew check jacocoCsaccessCoverageVerification

cache:
  directories:
  - ~/.gradle
